.footer {
  background-color: var(--secondary-background-color);
  padding: 60px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

/* Примесь логотипа в футере */

.logo__footer-mix {
  display: inline-block;
  margin-bottom: 20px;
}

/* Модификатор логотипа в футере */

.logo__footer--inverse {
  color: var(--primary-white-color);
}
